services:
  web:
    build:
      context: ${CONTEXTO}
      dockerfile: ./dockerfiles/base/ubbase
      #args: #Variables en DFILE para la construccion (build) de la imagen
      #  - USUARIO=pepe
    container_name: ${CONTAINER_NAME}
    ports:
      - ${PORT_SSH}:${PORT_SSH}
    env_file:
      - ./.env
    volumes:
      - ./logs:/root/logs
    networks:
      netcaronte:
        ipv4_address: ${IP}
networks:
  netcaronte:
    ipam:
      driver: default
      config:
        - subnet: ${SUBNET}

